<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'default.html' %}

<!-- Название у нас будет proudcts -->
{% block title %}
News
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
	<h1>Новость</h1>
	<hr>
	<table>
		<thead>

		<th>
			Заголовок
		</th>
		<th>
			Дата публикации
		</th>
		<th>
			Содержание
		</th>
		<th>
			Автор
		</th>
		<th>
			Категория
		</th>
		</thead>
		{% if post %}
			<tr>
				<td>
					{{ post.title }}
				</td>
				<td>
					{{ post.date_creation|date:'d-m-Y H:i' }}
				</td>
				<td>
					{{ post.text|truncatechars:50 }}
				</td>
				<td>
					{{ post.author_us }}
				</td>
				<td>
					<a class="btn btn-primary" href="{% url 'subscribes' %}" role="button"> {{ post.post_category }} </a>
				</td>
			</tr>
		{% endif %}
	</table>
{% endblock content %}