<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'default.html' %}

<!-- Название у нас будет proudcts -->
{% block title %}
News
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
	<h1>Все новости</h1>
	<h5>Всего новостей: {{ news|length }}</h5>
	<hr>
	{% if news %}
		<table>
			<tr>
				<td>
					Заголовок
				</td>
				<td>
					Дата публикации
				</td>
				<td>
					Содержание
				</td>
			</tr>
			{% for post in news %}
				<tr>
					<td>
						{{ post.title }}
					</td>
					<td>
						{{ post.date_creation|date:'d-m-Y H:i' }}
					</td>
					<td>
						{{ post.text|truncatechars:50 }}
					</td>
				</tr>
			{% endfor %}
		</table>
	{% endif %}
{% endblock content %}